<div style="width: 100%">
  <button (click)="goBack()">BACK</button>
</div>
<div style="width: 100%" *ngIf="data">
  <h2>
    Details Character {{ id }}
  </h2>
  <div style="width: 100%; display: block">
    <div style="width: 30%; display: inline-block;">
      URL
    </div>
    <div style="width: 70%; display: inline-block;">
      {{ data.url }}
    </div>
  </div>
  <div style="width: 100%; display: block">
    <div style="width: 30%; display: inline-block;">
      NAME
    </div>
    <div style="width: 70%; display: inline-block;">
      {{ data.name }}
    </div>
  </div>
  <div style="width: 100%; display: block">
    <div style="width: 30%; display: inline-block;">
      CULTURE
    </div>
    <div style="width: 70%; display: inline-block;">
      {{ data.culture }}
    </div>
  </div>
  <div style="width: 100%; display: block">
    <div style="width: 30%; display: inline-block;">
      GENDER
    </div>
    <div style="width: 70%; display: inline-block;">
      {{ data.gender }}
    </div>
  </div>
  <div style="width: 100%; display: block">
    <div style="width: 30%; display: inline-block;">
      FATHER
    </div>
    <div style="width: 70%; display: inline-block;">
      {{ data.father }}
    </div>
  </div>
  <div style="width: 100%; display: block">
    <div style="width: 30%; display: inline-block;">
      MOTHER
    </div>
    <div style="width: 70%; display: inline-block;">
      {{ data.mother }}
    </div>
  </div>
  <div style="width: 100%; display: block">
    <div style="width: 30%; display: inline-block;">
      SPOUSE
    </div>
    <div style="width: 70%; display: inline-block;">
      {{ data.spouse }}
    </div>
  </div>
  <div style="width: 100%; display: block">
    <div style="width: 30%; display: inline-block;">
      BORN
    </div>
    <div style="width: 70%; display: inline-block;">
      {{ data.born }}
    </div>
  </div>
  <div style="width: 100%; display: block">
    <div style="width: 30%; display: inline-block;">
      DIED
    </div>
    <div style="width: 70%; display: inline-block;">
      {{ data.died }}
    </div>
  </div>
  <div style="width: 100%; display: block">
    <div style="width: 30%; display: inline-block;">
      TITLES
    </div>
    <div style="width: 70%; display: inline-block;">
      {{ data.titles }}
    </div>
  </div>
  <div style="width: 100%; display: block">
    <div style="width: 30%; display: inline-block;">
      ALIASES
    </div>
    <div style="width: 70%; display: inline-block;">
      {{ data.aliases }}
    </div>
  </div>
  <div style="width: 100%; display: block">
    <div style="width: 30%; display: inline-block;">
      BOOKS
    </div>
    <div style="width: 70%; display: inline-block;">
      {{ data.books }}
    </div>
  </div>
  <div style="width: 100%; display: block">
    <div style="width: 30%; display: inline-block;">
      POV BOOKS
    </div>
    <div style="width: 70%; display: inline-block;">
      {{ data.povBooks }}
    </div>
  </div>
  <div style="width: 100%; display: block">
    <div style="width: 30%; display: inline-block;">
      PLAYED BY
    </div>
    <div style="width: 70%; display: inline-block;">
      {{ data.playedBy }}
    </div>
  </div>
  <div style="width: 100%; display: block">
    <div style="width: 30%; display: inline-block;">
      ALLGIANCES
    </div>
    <div style="width: 70%; display: inline-block;">
      {{ data.allegiances }}
    </div>
  </div>
  <div style="width: 100%; display: block">
    <div style="width: 30%; display: inline-block;">
      TV SERIES
    </div>
    <div style="width: 70%; display: inline-block;">
      {{ data.tvSeries }}
    </div>
  </div>
</div>
