<div style="width: 100%" *ngIf="action === null">
    <h3>
        List Character
    </h3>
    <div style="width: 100%; display: block">
        <input type="text" ngModel="query" style="margin-bottom: 12px" placeholder="Filter" (keyup)="filterByQuery($event)">
        <table style="width: 100%; font-family: arial, sans-serif; border-collapse: collapse;" *ngIf="!isUpdate">
            <tr>
                <th>
                    Name
                </th>
                <th>
                    Culture
                </th>
                <th>
                    Gender
                </th>
                <th>
                    Father
                </th>
                <th>
                    Mother
                </th>
                <th>
                    Details
                </th>
            </tr>
            <tr *ngFor="let item of data">
                <td>
                    {{ item.name }}
                </td>
                <td>
                    {{ item.culture }}
                </td>
                <td>
                    {{ item.gender }}
                </td>
                <td>
                    {{ item.father }}
                </td>
                <td>
                    {{ item.mother }}
                </td>
                <td>
                    <button (click)="goDetail(item)">GO</button>
                </td>
            </tr>
        </table>
        <div style="width: 100%; text-align: center;" *ngIf="isUpdate">
            Actualizando contenido por favor espere
        </div>
        <div style="width: 100%; text-align: center; margin-top: 12px">
            <div style="display: inline-block">
                <button [disabled]="filter.page === 1" (click)="prev()">PREV</button>
            </div>
            <div style="display: inline-block; margin-left: 12px; margin-right: 12px">
                {{ filter.page }}
            </div>
            <div style="display: inline-block">
                <button (click)="next()">NEXT</button>
            </div>            
        </div>
    </div>
</div>

<app-character-details *ngIf="action !== null">

</app-character-details>